html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
}

/* #gameCanvas {
    background-color: #f0f0f0;
    display: block; 
    width: 100vh;
    height: 100vh;
} */
